<div class="center jumbotron">
     <h1>Welcome to Siety</h1>
      <h2> A minimalistic social site </h2>
       <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>
